body {
    margin:0;
    background-image:#ffffff;
    width:100%;
    height:100%;
        }
.Header{
    background-image:url(../Images/header.jpg);
    width:100%;
    height:100px;
}
.Header_logo
{
    font-size:75px;
    font-family:Calibri;
    text-shadow:1px 2px 3px #aaa;
    float:left;
}
.Header_Menu
{
    float:right;
}
.Header_Menu ul
{
    margin:0px;
    padding:0px;
}
.Header_Menu ul li
{
    display: inline-block;
    width:100px;
}
.Header_Menu ul li a
{
    font-family:Calibri;
    font-size:20px;
    text-decoration:none;
    color:#000;
}
}
